@font-face {
  font-family: 'text';
  font-style: normal;
  font-weight: 600;
  src: url('./text.otf') format('opentype');
}

@font-face {
  font-family: 'heading_semibold';
  font-style: normal;
  font-weight: 600;
  src: url('./heading_semibold.otf') format('opentype');
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #F9DC4A;
  color: #000;
  min-width: 230px;
  max-width: 846px;
  margin: 0 auto;
  font: 14px 'text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.4em;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

#root {
  display: flex;
  align-items: center;
}

.button {
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
}

button:focus {
  outline:0;
}

.back-button {
  order: 0;
  margin-top: 98px;
}

.forward-button {
  order: 2;
  margin-top: 98px;
}

.flip-button {
  margin: auto;
}

.container {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 750px;
}

.title {
  color: black;
  font: 28px 'heading_semibold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  margin-top: 20px;
}

nav {
  height: 50px;
  width: 100%;
}

.card {
  border: 3px solid black;
  height: 400px;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question {
  font-size: 42px;
  line-height: 1.4em;
  display: inline-block;
  text-align: center;
  width: 100%;
}


// .container {
//   margin: auto;
//   text-align: center;
//   max-width: 600px;

//   &__image {
//     width: 100px;
//     height: auto;
//   }
// }

// nav {
//   ul {
//     list-style-type: none;
//     margin: 0;
//     padding: 0;
//     overflow: hidden;
//     background-color: #333333;
//   }

//   li {
//     float: left;
//   }

//   li a {
//     display: block;
//     color: white;
//     text-align: center;
//     padding: 16px;
//     text-decoration: none;
//   }

//   li a:hover {
//     background-color: #111111;
//   }
// }
